@font-face{
	font-family: "aa";
	src : url('fonts/allura/Allura-Regular.otf');
}
@font-face{
	font-family: "bb";
	src : url('IpenType TrueType/learning_curve_dashed_ot_tt.ttf');
}
@font-face{
	font-family: "cc";
	src : url('sansation/Sansation-Bold.ttf');
}
